:root {
  --primary-color: #596c48;
  --content-bg: #f9fafb;
}

@font-face {
  font-family: Norse;
  src: url(fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  height: 100vh;
}

#container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#background-image {
  background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  flex: 1;
  max-width: 40vw;
}

#logo-container {
  position: relative;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  color: white;
  background: rgba(0, 0, 0, 50%);
  padding: 5px 0;
}

h1.odin {
  margin: 20px 0 0 0;
  font-family: "Norse";
  opacity: 1;
  font-size: clamp(0.8rem, 10vw, 5rem);
}

.logo-img {
  max-height: 100px;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background-color: var(--content-bg);
  max-width: 60%;
  font-family: Arial, Helvetica, sans-serif;
}

.header,
.form,
.login {
  padding: 20px 50px;
}

.header p {
  font-size: 1.4rem;
  padding: 0 20px 0 0;
  font-weight: 600;
  line-height: 1.6rem;
}

.form {
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #d1d1d1;
}

.form > h3 {
  font-size: 1.4rem;
}

fieldset {
  border: 0px;
  padding: 10px 0px;
  display: flex;
  gap: 10%;
  margin-bottom: 5px;
  width: 90%;
}

label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #2f3845;
  margin-bottom: 5px;
}

input {
  min-width: 40%;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  height: 2rem;
  text-indent: 10px;
}

input:focus {
  border: 1px solid rgb(0, 110, 255);
  box-shadow: 0px 4px 4px 0px #d1d1d1;
}

input:valid {
  border: 1px solid rgb(16, 87, 14);
}

input:invalid {
  border: 1px solid rgb(189, 2, 2);
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px 40px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 2px 2px #525f70;
}

.login p {
  margin-top: 30px;
}

.login a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}

h3 {
  margin: 15px 0;
}

@media only screen and (max-width: 600px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #background-image,
  #content {
    max-width: 100%;
  }

  .logo-container {
    padding: 25px;
  }

  .form > h3 {
    margin-bottom: 25px;
  }

  fieldset {
    flex-direction: column;
    padding: 0px;
    width: 100%;
  }

  .field {
    margin-bottom: 20px;
  }

  .login {
    display: flex;
    flex-direction: column;
  }

  .login p {
    text-align: center;
  }
}
