body {
    margin: 0;
}

.container {
    display: flex;
}

.background-image {
    flex: auto;
    max-width: 40vw;
}

.background-image img {
    max-width: 100%;
}

.content {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: #EFEFEF;
}

.header,
.form,
.login {
    padding: 20px 50px;
}

.form {
    background-color: #FFF;
}

fieldset {
    border: 0px;
    padding: 10px 0px;
    display: flex;
    gap: 60px;
}

.field {
    display: flex;
    flex-direction: column;
}